*~
wscli.phar
wscli.phar.pubkey
wscli.phar.version

wscli-php-sdk/wsapi_v2.json
wscli-php-sdk/vendor/
wscli-php-sdk/.php_cs.cache
wscli-php-sdk/composer.lock
wscli-php-sdk/swagger-codegen-cli.jar

wscli-php/wscli.phar
wscli-php/vendor/
wscli-php/build
wscli-php/.php_cs.cache
wscli-php/.settings.yaml
wscli-php/swagger-php-sdk
wscli-php/composer.lock
wscli-php/wscli.log
wscli-php/wscli_sdk.log
wscli-php/wscli-signing.key
